@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gyparody';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gyparody.ttf');
}

@font-face {
  font-family: 'Korinna';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/korinna-regular.otf');
}

@font-face {
  font-family: 'Swiss 911';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/swiss911-xcm-bt.ttf');
}

@font-face {
  font-family: 'Univers';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/univers-75-black.ttf');
}

:root {
  --jeopardy-blue: #060CE9;
  --jeopardy-dark-blue: #0A0A8F;
  --jeopardy-yellow: #FFCC00;
  --jeopardy-gold: #DAA520;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Jeopardy-style board colors */
.jeopardy-board {
  background-color: var(--jeopardy-blue);
}

.jeopardy-category {
  background-color: var(--jeopardy-blue);
  color: white;
  border: 2px solid white;
  font-family: 'Swiss 911';
  font-size: 1.25em;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.jeopardy-clue {
  background-color: var(--jeopardy-blue);
  color: var(--jeopardy-yellow);
  border: 2px solid white;
}

.jeopardy-clue:hover {
  background-color: var(--jeopardy-dark-blue);
}

.jeopardy-clue.revealed {
  background-color: #666;
  color: #999;
}

.jeopardy-title {
  font-family: 'Gyparody' !important;
  font-size: 48px !important;
  font-weight: 400 !important;
  line-height: 48px !important;
  text-transform: uppercase;
  color: white !important;
  text-shadow:
    1px 1px 4px #fff,
    1px 1px 4px #ccc;
}

.clue-text {
  font-family: 'Korinna';
  text-transform: uppercase;
  font-weight: 400 !important;
}

.category-text {
  font-family: 'Swiss 911';
  font-size: 1.6em;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400 !important;
}

.value-text {
  font-family: 'Swiss 911';
  font-size: 3em;
  font-weight: 400 !important;
  line-height: 1em;
  color: #ffc56c;
  text-shadow: black 4px 4px;
}

.scoreboard-points {
  font-family: 'Univers';
  font-weight: 400 !important;
}

